// Variables
$tab-padding: 10px 20px;
$tab-font-size: 14px;
$tab-transition: background-color 0.3s ease, border-color 0.3s ease;
$border-radius-pill: 9999px;
$border-bottom-width: 3px;

// Tabs Container
.tabs {
  width: 100%;
  font-family: 'Inter', sans-serif;
}

// Tab List
.tab-list {
  display: flex;
  gap: $xs;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #ddd;
  
  // Enable horizontal scrolling
  overflow-x: auto;
  white-space: nowrap; // Prevent the tabs from wrapping to the next line
  -webkit-overflow-scrolling: touch; // Enable smooth scrolling on iOS

  @media (max-width: $mobile-viewport) {
    gap: $xxs;
    font-size: $mobile-font-size;
  }
}

// Individual Tab
.tab {
  padding: $tab-padding;
  font-size: $tab-font-size;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 0;
  transition: $tab-transition;

  // Variants
  &.pill {
    border-radius: $border-radius-pill;
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid transparent;

    &.selected {
      background-color: $primary-color;
      color: $secondary-color;
    }

    &:hover {
      background-color: $hover-color;
    }

    &:focus {
      border: 2px solid $focus-color;
    }
  }

  &.underline {
    padding: 10px 0;
    border-bottom: $border-bottom-width solid transparent;

    &.selected {
      border-bottom-color: $primary-color;
      font-weight: bold;
    }

    &:hover {
      border-bottom-color: $hover-color;
    }

    &:focus {
      border: 2px solid $focus-color;
    }
  }

  @media (max-width: $mobile-viewport) {
    gap: $xxs;
    font-size: $mobile-font-size;
  }
}
